/*
 * Fonts
 */

@font-face {
	font-family: Roboto;
	src: url( 'fonts/roboto.woff' ) format( 'woff' );
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url( 'fonts/roboto-bold.woff' ) format( 'woff' );
	font-weight: bold;
	font-style: normal;
}

/*
 * Custom Properties
 */

:root {
	/* Color scheme options */
	--sl-scheme-light-background-color: #fff;
	--sl-scheme-light-button-background-color: #fcfcfc;
	--sl-scheme-light-button-background-color-focus: #f7f7f7;
	--sl-scheme-light-button-background-color-active: #f0f0f0;
	--sl-scheme-light-input-background-color: #fcfcfc;
	--sl-scheme-light-input-border-color: #999;
	--sl-scheme-light-border-color: #ccc;
	--sl-scheme-light-font-color: #212529;
	--sl-scheme-light-font-color-faded: #495057;
	--sl-scheme-dark-background-color: #323234;
	--sl-scheme-dark-button-background-color: #424242;
	--sl-scheme-dark-button-background-color-focus: #4a4a4f;
	--sl-scheme-dark-button-background-color-active: #666;
	--sl-scheme-dark-input-background-color: #2d2d2f;
	--sl-scheme-dark-input-border-color: #ccc;
	--sl-scheme-dark-border-color: #292a2d;
	--sl-scheme-dark-font-color: #e8eaed;
	--sl-scheme-dark-font-color-faded: #d2d2d2;

	/* Color scheme defaults */
	--sl-background-color: var(--sl-scheme-light-background-color);
	--sl-button-background-color: var(--sl-scheme-light-button-background-color);
	--sl-button-background-color-focus: var(--sl-scheme-light-button-background-color-focus);
	--sl-button-background-color-active: var(--sl-scheme-light-button-background-color-active);
	--sl-input-background-color: var(--sl-scheme-light-input-background-color);
	--sl-input-border-color: var(--sl-scheme-light-input-border-color);
	--sl-border-color: var(--sl-scheme-light-border-color);
	--sl-font-color: var(--sl-scheme-light-font-color);
	--sl-font-color-faded: var(--sl-scheme-light-font-color-faded);

	/* Provider-specific */
	--sl-provider-twitch-background: #9145ff;
	--sl-provider-twitch-foreground: #fff;
	--sl-provider-mixer-background: #002050;
	--sl-provider-mixer-foreground: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--sl-background-color: var(--sl-scheme-dark-background-color);
		--sl-button-background-color: var(--sl-scheme-dark-button-background-color);
		--sl-button-background-color-focus: var(--sl-scheme-dark-button-background-color-focus);
		--sl-button-background-color-active: var(--sl-scheme-dark-button-background-color-active);
		--sl-input-background-color: var(--sl-scheme-dark-input-background-color);
		--sl-input-border-color: var(--sl-scheme-dark-input-border-color);
		--sl-border-color: var(--sl-scheme-dark-border-color);
		--sl-font-color: var(--sl-scheme-dark-font-color);
		--sl-font-color-faded: var(--sl-scheme-dark-font-color-faded);
	}
}

/*
 * Elements
 */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
	font-size: 100%;
	background-color: var(--sl-background-color);
	color: var(--sl-font-color);
}

body[data-theme="light"] {
	--sl-background-color: var(--sl-scheme-light-background-color);
	--sl-button-background-color: var(--sl-scheme-light-button-background-color);
	--sl-button-background-color-focus: var(--sl-scheme-light-button-background-color-focus);
	--sl-button-background-color-active: var(--sl-scheme-light-button-background-color-active);
	--sl-input-background-color: var(--sl-scheme-light-input-background-color);
	--sl-input-border-color: var(--sl-scheme-light-input-border-color);
	--sl-border-color: var(--sl-scheme-light-border-color);
	--sl-font-color: var(--sl-scheme-light-font-color);
	--sl-font-color-faded: var(--sl-scheme-light-font-color-faded);
}

body[data-theme="dark"] {
	--sl-background-color: var(--sl-scheme-dark-background-color);
	--sl-button-background-color: var(--sl-scheme-dark-button-background-color);
	--sl-button-background-color-focus: var(--sl-scheme-dark-button-background-color-focus);
	--sl-button-background-color-active: var(--sl-scheme-dark-button-background-color-active);
	--sl-input-background-color: var(--sl-scheme-dark-input-background-color);
	--sl-input-border-color: var(--sl-scheme-dark-input-border-color);
	--sl-border-color: var(--sl-scheme-dark-border-color);
	--sl-font-color: var(--sl-scheme-dark-font-color);
	--sl-font-color-faded: var(--sl-scheme-dark-font-color-faded);
}

a {
	text-decoration: none;
}

button {
	padding: 8px 12px;
	background-color: var(--sl-button-background-color);
	border: 1px solid var(--sl-input-border-color);
	border-radius: 6px;
	color: currentColor;
	font-size: 0.9rem;
	cursor: pointer;
}

button:active {
	background-color: var(--sl-button-background-color-active);
}

button:focus,
button:hover {
	background-color: var(--sl-button-background-color-focus);
}

button.is-compact {
	padding: 4px 8px;
}

input {
	background-color: var(--sl-input-background-color);
	border: 1px solid var(--sl-input-border-color);
	border-radius: 6px;
}

/*
 * Card
 */

.card {
	display: flex;
	padding: 20px;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.card__title {
	margin: 1rem 0 0;
	font-size: 1.3rem;
	line-height: 1;
}

.card__description {
	margin: 1.2rem 0 0;
	font-size: 0.9rem;
}

.card__button {
	margin-top: 1.2rem;
}

/*
 * Notice
 */

.notice {
	display: flex;
	align-items: center;
	margin: 8px 0;
	padding: 4px 6px;
    background-color: #fead9a;
	border: 1px solid #721c24;
	font-size: 0.9rem;
	color: #721c24;
}

.notice__icon {
	margin-left: 2px;
	margin-right: 6px;
}

.notice__text {
	flex-basis: 100%;
}

.notice__button {
    background-color: #bb4f36;
	border-color: #721c24;
	color: #fff;
}

.notice__button:focus,
.notice__button:hover {
	background-color: #d0583c;
}

/*
 * Loading Indicator
 */

@keyframes loading-indicator__dot__pulse {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 0.8;
	}
}

.loading-indicator {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 20px 0;
}

.loading-indicator__dot {
	width: 12px;
	height: 12px;
	margin: 0 2px;
	border-radius: 50%;
	background: #6c6c6c;
	animation-name: loading-indicator__dot__pulse;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.loading-indicator__dot:nth-child(2) {
	animation-delay: 0.1s;
}

.loading-indicator__dot:nth-child(3) {
	animation-delay: 0.2s;
}

/*
 * Icon Button
 */

.icon-button,
.icon-button:focus,
.icon-button:hover {
	padding: 0;
	background: transparent;
	border: none;
	border-radius: 0;
	font-size: 1rem;
}

.icon-button .icon {
	display: block;
}

/*
 * Visually Hidden
 */

.visually-hidden {
	clip: rect( 1px, 1px, 1px, 1px );
	clip-path: inset( 50% );
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

/*
 * Tooltip
 */

.tooltip {
	position: relative;
}

.tooltip__arrow,
.tooltip__text {
	will-change: opacity;
	opacity: 0;
	transition: 0.2s opacity;
	transition-delay: 0.2s;
}

.tooltip__text {
	position: absolute;
	left: 50%;
	padding: 6px 8px;
	transform: translateX( -50% );
	background-color: rgba( 40, 40, 40, 0.9 );
	border: 1px solid var(--sl-scheme-dark-border-color);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	font-size: 0.8rem;
}

.tooltip.is-left .tooltip__text {
	left: auto;
	right: 1px;
	transform: none;
	pointer-events: none;
}

.tooltip__arrow {
	position: absolute;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
}

.tooltip:hover .tooltip__arrow,
.tooltip:hover .tooltip__text {
	opacity: 1;
}

.tooltip.is-top .tooltip__text,
.tooltip.is-top .tooltip__arrow {
	bottom: 100%;
}

.tooltip.is-top .tooltip__arrow {
	margin-bottom: -10px;
	border-color: rgba( 40, 40, 40, 0.9 ) transparent transparent transparent;
}

.tooltip.is-bottom .tooltip__text,
.tooltip.is-bottom .tooltip__arrow {
	top: 100%;
}

.tooltip.is-bottom .tooltip__arrow {
	margin-top: -10px;
	border-color: transparent transparent rgba( 40, 40, 40, 0.9 ) transparent;
}
